%h2 Events I am attending
- if current_user.attended_events
  %ul
  - current_user.attended_events.each do |event|
    %li
      %a{:href => "/event/#{event.id}"}= event.name

%h2 Search for more events
%form{:method => "get"}
  %input{:name => "q", :id => "q", :value => params[:q]}
  %input{:type => "submit", :value => "Search"}
  
- if @results
  %ul
  - @results.each do |result|
    %li
      %a{:href => "/event/#{result.id}"}= result.name

%h2 Events I am hosting
- if current_user.hosted_events
  %ul
    - current_user.hosted_events.each do |event|
      %li
        %a{:href => "/events/edit/#{event.id}"}= event.name
%a{:href => "/events/add"} Create new event