%p
  Welcome to Tasting Notes - the app that helps you keep track of great beers you have sampled at great events.
  
%p
  See what events other people are going to, track them in the app and keep your own tasting notes and scores. In future updates we hope to help to improve the search to look for events within a specific location and to give you the option to share your tasting notes with others.