%h2= @event.name

%p
  =@event.location
  %br
  =@event.date

- if current_user.events.include?(@event)  
  - @scorecard.ratings.each do |rating|
    %p= rating.drink.name
    %p= rating.drink.brewery_name
    %p
      %textarea{:cols => 40, :rows => 6, :value => rating.notes}
    %p
      %input{:value => rating.score}
- else
  %a{:href => "/events/#{@event.id}/watch"} Watch event
    